<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="refresh" content="{{ refresh }}">
        <title>top-info</title>
    </head>
    <body>
        <pre>
        {{ data }}
        </pre>
    </body>
</html>
